<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>CTEP {{ titulo }}</title>
        <script src="{% static 'js/jquery-1.12.4.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/moment.js' %}"></script>
        <script src="{% static 'js/mapa.js' %}"></script>
    </head>
    <body onload="compararData()">

        <div id="menu">
            <header class="bgimage hidden-xs"></header>
            <nav class="navbar navbar-default" id="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <a href="{% url 'home' %}" class="navbar-brand">CTEP</a>
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#collapsemenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="collapsemenu">
                        <ul class="nav navbar-nav navbar-right" >
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-book"></span> Cursos <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'enfermagem' %}">Técnico de Enfermagem</a></li>
                                    <li><a href="{% url 'instrumentacao' %}">Instrumentação Cirúrgica</a></li>
                                    <li><a href="{% url 'livres' %}">Cursos Livres</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'fotos' %}"> <span class="glyphicon glyphicon-picture"></span> Galeria de Fotos</a></li>
                            <li><a href="{% url 'contato' %}"><span class="glyphicon glyphicon-phone"></span> Contatos</a></li>
                            <li><a href="{% url 'mapa' %}"><span class="glyphicon glyphicon-globe"></span> Mapas</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
        <div id="rodape">
            <footer class="footer">
                <div class="col-md-6 text-center">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fcurso.ctep%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=445999865740002" width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
                <div class="col-md-4">
                    <h4>Quem Somos</h4>
                    <h5 class="text-justify">Somos uma instituição de ensino preocupada com o futuro do nosso país. Buscamos formar profissionais competentes em suas áreas
                        e temos o compromisso de oferecer o melhor ensino para nossos alunos<br><br>
                        Fundado em 2014 o Curso CTEP surgiu a partir do sonho de uma educadora de formar profissionais capazes na área da saúde.</h5>
                </div>
                <div class="col-md-2">
                    <h4>Contato</h4>
                    <h5><span class="glyphicon glyphicon-earphone"></span> (21) 2242-4296</h5>
                    <h5><span class="glyphicon glyphicon-phone"></span> (21) 98884-5406</h5>
                    <h5><span class="glyphicon glyphicon-envelope"></span> ctep.curso@gmail.com</h5>
                </div>
            </footer>
        </div>
    </body>
</html>