{% extends 'base.html' %}

{% load static %}

{% block container %}
            <div class="jumbotron">
                <h3>Galeria de fotos do Curso CTEP</h3>
            </div>
            <h2>Instalações e Equipamentos</h2>
            <div class="row">
                {% for foto in instalacoes %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% with 'images/'|add:foto.referencia|add:'/'|add:foto.nomeArquivo as image_static %}
                            <img class="img-rounded img-responsive center-block" src="{% static image_static %}" alt={{foto.descricao}}>
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            <div class="row">
                <h2>Técnico de Enfermagem</h2>
                {% for foto in enfermagem %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% with 'images/'|add:foto.referencia|add:'/'|add:foto.nomeArquivo as image_static %}
                            <img class="img-rounded img-responsive center-block" src="{% static image_static %}" alt={{foto.descricao}}>
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <h2>Especialização em Instrumentação Cirúrgica</h2>
                {% for foto in instrumentacao %}
                <div class="col-sm-4">
                    <div class="thumbnail">
                        {% with 'images/'|add:foto.referencia|add:'/'|add:foto.nomeArquivo as image_static %}
                            <img class="img-rounded img-responsive center-block" src="{% static image_static %}" alt={{foto.descricao}}>
                        {% endwith %}
                    </div>
                </div>
                {% endfor %}
            </div>
{% endblock %}
