{% extends 'base.html' %}

{% block container %}
            <div class="jumbotron">
                <h3>Quem Somos</h3>
            </div>
            <h5 class="text-justify">Somos uma instituição de ensino preocupada com o futuro do nosso país. Buscamos formar profissionais competentes em suas áreas
            e temos o compromisso de oferecer o melhor ensino para nossos alunos<br><br>
            Fundado em 2014 o Curso CTEP surgiu a partir do sonho de uma educadora de formar profissionais capazes na área da saúde.</h5>
            <hr>
            <div class="jumbotron">
                <h3>Calendário de Turmas</h3>
            </div>
            <table class="table table-bordered table-responsive table-striped" style="border: 2px solid black;">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Dia(s) da semana</th>
                        <th>Data de início</th>
                        <th>Disponível para matrícula</th>
                    </tr>
                </thead>
                <tbody id="turmas">
                    {% for curso in turmas.models.Turmas.get_queryset.all %}
                        <tr>
                        <td>{{curso.nome}}</td>
                        <td>{{curso.dia}}</td>
                        <td>{{curso.data_inicio}}</td>
                        <td></td>
                    {% endfor %}
                    <!--<tr>
                        <td>Especialização em Instrumentação Cirúrgica</td>
                        <td>Sábado de 8:00 às 12:00</td>
                        <td>21/01/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Técnico de Enfermagem</td>
                        <td>Sábado de 8:00 às 13:00</td>
                        <td>04/02/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Especialização em Instrumentação Cirúrgica</td>
                        <td>Terça de 9:00 às 13:00</td>
                        <td>14/02/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Especialização em Instrumentação Cirúrgica</td>
                        <td>Quinta de 14:00 às 18:00</td>
                        <td>23/03/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Técnico de Enfermagem</td>
                        <td>Quarta e Sexta de 9:00 às 12:00</td>
                        <td>19/04/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Especialização em Instrumentação Cirúrgica</td>
                        <td>Quarta de 17:00 às 21:00</td>
                        <td>19/04/2017</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Especialização em Instrumentação Cirúrgica</td>
                        <td>Quarta de 9:00 às 13:00</td>
                        <td>31/05/2017</td>
                        <td></td>
                    </tr>-->
                </tbody>
            </table>
{% endblock %}
