{% extends 'base.html' %}

{% block container %}
            <div class="jumbotron">
                <h3>Cursos Livres</h3>
            </div>
            <div>
                <h3>Descrição dos cursos</h3>
                <h5 class="text-justify">
                    Mensalmente nós fazemos cursinhos livres sobre os mais diversos assuntos, desde que sejam dentro da área da saúde. Os cursos costumas ser feitos uma vez por semana e durante a semana.
                </h5>
                <h5>Nossos estágios são de segunda a domingo no <strong>Hospital Municipal Jesus</strong> e no <strong>Hospital Municipal Piedade</strong> e <strong>Instituto Philippe Pinel</strong>.</h5>
            </div>
            <div>
                <h3>Lista dos cursos</h3>
                <ul>
                    <li><h5>Punção Venosa Periférica</h5></li>
                    <li><h5>Feridas e Curativos</h5></li>
                    <li><h5>Procedimentos de Enfermagem</h5></li>
                    <li><h5>Cuidados com Ostomias</h5></li>
                    <li><h5>Cálculo e Administração de Medicamentos</h5></li>
                    <li><h5>Home Care</h5></li>
                    <li><h5>Prevenção e Controle de Infecções</h5></li>
                    <li><h5>Instrumentação em Cirurgias de Vídeo</h5></li>
                    <li><h5>Entre outros...</h5></li>
                </ul>

            </div>
            <div>
                <h3>Valores</h3>
                <h5 class="text-justify">Inscrição: R$ 60,00</h5>
            </div>
{% endblock %}
