{% extends 'base.html' %}

{% block container %}
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSL9KvQzSviPtRRtxH4wv1gvEkKHyQKbw&callback=initMap"></script>
            <div class="jumbotron">
                <h3>Endereço e Localização</h3>
            </div>
            <div class="col-md-6" id="endereco">
                <h3>Avenida Presidente Vargas 1733 salas 306/307 - Centro - Rio de Janeiro/RJ</h3>
                <h4>Ao lado do Rio Imagem e em frente à Central do Brasil.</h4>
            </div>
        <div id="map" class="col-md-6" style="height: 400px;"></div>
{% endblock %}
